/*Impostiamo lo stile del tag body*/
body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('img/img_iniziale.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.005);
    color: #2e2e1f;
}

/*Stili per l'impostazione dell'intstazione*/
.intestazionePagina {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    color: #fff;
    background: rgba(0, 0, 0, 0.3);
}

.intestazionePagina img {
    margin: 50px 10px 10px 10px;
    max-width: 100px;
    max-width: 100%;
    height: auto; /* Mantiene le proporzioni dell'immagine */
    max-height: 100%; /* La massima altezza sarà pari all'altezza del contenitore */
}

/*Stili per l'impostazione dei contatti*/
.contatti {
    text-emphasis-color: revert;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
}

.contatti a {
    color: white;
}

.iconeETesti {
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.iconeETesti img {
    filter: brightness(0) invert(1);
    margin-right: 4px;
}

.iconeETesti p {
    margin: 0;
}

/*stile footer*/
.footer {
    position: absolute;
    /* bottom: 0; */
    width: 100%;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    margin: 20px 0 0 0;
}
